name: Build Add-on

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - '.gitignore'

jobs:
  build:
    name: Build TimeSloth
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Add-on
        uses: home-assistant/builder@master
        with:
          args: |
            --aarch64 \
            --target . \
            --image "timesloth-{arch}" \
            --docker-hub "ghcr.io/${{ github.repository_owner }}"