name: Build and Publish Add-on

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Notwendig für ARM64 Build auf GitHub Runnern
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Notwendig für Caching & Multi-Platform
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/arm64
          # Hier setzen wir den Tag einfach direkt:
          tags: ghcr.io/${{ github.repository }}:latest
          # Das Caching (das den Build so schnell macht) bleibt aktiv:
          cache-from: type=gha
          cache-to: type=gha,mode=max